* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
p {
  font-size: 1.25rem;
  line-height: 150%;
}

strong {
  color: #009966;
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  line-height: 120%;
  font-weight: 800;
  margin: 0;
}

.intro-chunk {
  padding-inline: 24px;
  padding-block: 96px 64px;
}

.intro-chunk p {
  max-width: 415px;
}

.intro-chunk p:last-child {
  margin-bottom: 0;
}

main {
  background-color: #666666;
  border-top: solid 8px #999999;
  padding-block: 64px;
}

.card {
  background-color: white;
  padding: 24px;
  border-bottom: solid 8px #999999;
}

.card p {
  font-weight: 500;
}

h2 {
  margin: -16px auto 0 -32px;
  line-height: 120%;
  font-weight: 800;
  background-color: #FFBF00;
  font-size: 1.5rem;
  padding: 16px 32px;
  border-bottom: 8px solid #CC9900;
  width: fit-content;
}